@import 'src/styles/theme';

/* The '&' is a shorthand for the containing element,
  so for example a '&.user-list' inside .game will compile to
  .game.user-list

  for more information visit https://sass-lang.com/guide
 */

.Home {

    &.invitations-list {
        position: absolute;
        width: 484.32px;
        height: 32px;
        left: 261.68px;
        top: 436px;
    }

    &.invitations-title {
        position: absolute;
        width: 289.52px;
        height: 29px;
        left: 235px;
        top: 388px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 28px;
        /* identical to box height */

        color: #FFFFFF;
    }
    &.invitations-Field {
        position: relative;
        width: 550px;
        height: 32px;
        margin-right: 10px; margin-bottom: 10px;

        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
        border-radius: 10px;
    }
    &.invitations-text {
        position: relative;
        left: 5px;
        top: 5px;

        font-family: 'Racing Sans One';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;

        color: #000000;
    }
    &.invitations-Accept {
        position: relative;
        left: 450px;
        top: -17px;
        width: 54px;
        height: 23px;

        background: #228C22;
        border-radius: 20px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        text-align: center;

        color: #FFFFFF;

    }
    &.invitations-Decline {
        position: relative;
        width: 27.42px;
        height: 23px;
        left: 460px;
        top: -17px;


        background: #EA2D21;
        border-radius: 20px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        text-align: center;

        color: #FFFFFF;
    }

    &.deck-None {
        float:left;
        height: 32px;
        margin-right: 20px; margin-bottom: 20px;

        font-family: 'Racing Sans One';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-align: center;

        color: #000000;
    }

    &.listTitle {
        position: absolute;
        width: 199px;
        height: 29px;
        left: 235px;
        top: 130px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 28px;
        /* identical to box height */

        color: #FFFFFF;
    }

    &.listTitle-library {
        position: absolute;
        width: 300px;
        height: 29px;
        left: 235px;
        top: 130px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 28px;
        /* identical to box height */

        color: #FFFFFF;
    }

    &.list {
        position: absolute;
        width: 60%;
        left: 255px;
        top: 177px;
    }

    &.list-library {
        position: absolute;
        width: 60%;
        left: 255px;
        top: 220px;
    }

    &.listElement-Number {
        position: relative;
        top: 4px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;

        color: #000000;
    }
    &.listElement-Title {
        position: relative;
        top: -30px;


        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 16px;
        line-height: 19px;
        text-align: center;

        color: #000000;

    }
    &.listElement-Score {
        position: relative;
        left: 8px;
        top: 40px;


        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;

        color: #000000;

    }
    &.listElement-Text {
        position: relative;
        bottom: -35px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 10px;
        line-height: 9px;
        text-align: center;

        color: #000000;

    }
    &.listElement-Box {
        float:left;
        width: 108px;
        height: 153px;
        margin-right: 20px; margin-bottom: 20px;

        background: #FFFFFF;
        border: 1px solid #000000;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;

    }


    &.delSearchButton {
        position: absolute;
        width: 180px;
        height: 50px;
        left: 990px;
        top: 120px;

        background: #FFCA00;
        border-radius: 20px;


        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        text-align: center;

        color: #000000;
    }

}