@import 'src/styles/theme';

/* The '&' is a shorthand for the containing element,
  so for example a '&.user-list' inside .game will compile to
  .game.user-list

  for more information visit https://sass-lang.com/guide
 */

.learningTool {
    &.back-button {
        position: relative;
        width: 200px;
        height: 55px;
        left: 36%;
        right: 35%;
        top: 200px;


        background: #4757FF;
        border-radius: 10px;

        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        padding-top: 5px;

        color: #FFFFFF;
    }
    &.text-to-speech {
        position: center;
        width: fit-content;
        height: 40px;

        background: #4757ff;
        border-radius: 10px;

        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        //padding-top: 5px;

        color: #ffffff;
    }

    &.resPage-Title {
        position: relative;
        width: 50%;
        height: 50%;
        left: 20%;
        right: 20%;
        top: 50px;

        text-align: center;
        font-family: 'Racing Sans One', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 128px;
        line-height: 161px;

        color: #000000;
    }

    &.resPage-Text {
        position: relative;
        width: 50%;
        height: 50%;
        left: 20%;
        right: 20%;
        top: 100px;

        display: flex;
        flex-direction: column;

        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 75px;
        /* identical to box height */

        color: #000000;
    }

    &.learn-tittle {
        position: absolute;
        width: 305px;
        height: 38px;
        left: 766px;
        top: 160px;

        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 38px;
        /* identical to box height */

        color: #000000;
    }
    &.card {
        position: absolute;
        width: 269.65px;
        height: 382px;
        left: 363px;
        top: 238px;

        background: #ffffff;
        border: 1px solid #000000;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
    }
    &.card2 {
        position: absolute;
        width: 269.65px;
        height: 382px;
        left: 370.19px;
        top: 238px;

        background: #4757ff;
        border-radius: 20px;
    }
    &.card-question {
        position: absolute;
        text-align: center;
        width: 217px;
        height: 266px;
        left: 390px;
        top: 300px;

        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 38px;

        color: #000000;
    }

    &.card-number {
        position: absolute;
        width: 47px;
        height: 17px;
        left: 570px;
        top: 248px;

        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;

        color: #000000;
    }

    &.card-tittle {
        position: absolute;
        width: 150px;
        height: 17px;
        left: 383px;
        top: 248px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;

        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: left;

        color: #000000;
    }

    &.card-aw1-card {
        position: absolute;
        width: 363px;
        height: 63px;
        left: 766px;
        top: 238px;

        background: #ffffff;
        border: 1px solid #000000;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;

        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;

        color: #000000;
    }

    &.card-aw1-card-red {
        position: absolute;
        width: 363px;
        height: 63px;
        left: 766px;
        top: 238px;

        background: #ff0000;
        border: 1px solid #000000;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;

        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;

        color: #000000;
    }

    &.card-aw1-card-green {
        position: absolute;
        width: 363px;
        height: 63px;
        left: 766px;
        top: 238px;

        background: #7cfc00;
        border: 1px solid #000000;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;

        font-family: 'Roboto', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;

        color: #000000;
    }

    &.card-aw2-card {
        position: absolute;
        width: 363px;
        height: 63px;
        left: 766px;
        top: 344px;

        background: #ffffff;
        border: 1px solid #000000;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;

        font-family: 'Roboto', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;

        color: #000000;
    }

    &.card-aw2-card-red {
        position: absolute;
        width: 363px;
        height: 63px;
        left: 766px;
        top: 344px;

        background: #ff0000;
        border: 1px solid #000000;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;

        font-family: 'Roboto', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;

        color: #000000;
    }

    &.card-aw2-card-green {
        position: absolute;
        width: 363px;
        height: 63px;
        left: 766px;
        top: 344px;

        background: #7cfc00;
        border: 1px solid #000000;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;

        font-family: 'Roboto', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;

        color: #000000;
    }

    &.card-aw3-card {
        position: absolute;
        width: 363px;
        height: 63px;
        left: 766px;
        top: 450px;

        background: #ffffff;
        border: 1px solid #000000;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;

        font-family: 'Roboto', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;

        color: #000000;
    }

    &.card-aw3-card-red {
        position: absolute;
        width: 363px;
        height: 63px;
        left: 766px;
        top: 450px;

        background: #ff0000;
        border: 1px solid #000000;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;

        font-family: 'Roboto', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;

        color: #000000;
    }

    &.card-aw3-card-green {
        position: absolute;
        width: 363px;
        height: 63px;
        left: 766px;
        top: 450px;

        background: #7cfc00;
        border: 1px solid #000000;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;

        font-family: 'Roboto', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;

        color: #000000;
    }

    &.card-aw4-card {
        position: absolute;
        width: 363px;
        height: 63px;
        left: 766px;
        top: 556px;

        background: #ffffff;
        border: 1px solid #000000;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;

        font-family: 'Roboto', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;

        color: #000000;
    }

    &.card-aw4-card-red {
        position: absolute;
        width: 363px;
        height: 63px;
        left: 766px;
        top: 556px;

        background: #ff0000;
        border: 1px solid #000000;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;

        font-family: 'Roboto', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;

        color: #000000;
    }

    &.card-aw4-card-green {
        position: absolute;
        width: 363px;
        height: 63px;
        left: 766px;
        top: 556px;

        background: #7cfc00;
        border: 1px solid #000000;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;

        font-family: 'Roboto', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;

        color: #000000;
    }
    &.livescore-container {
        position: relative;
        margin: 0.5em 0;
        width: 20em;
        padding: 10px;
        border-radius: $borderRadius;
        display: flex;
        align-items: center;
        background: lighten($background, 5);
    }
}