@import 'src/styles/theme';

.Loading{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;

    &.text{
        top: 40%;
        left: 40%;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 28px;
    }
    &.cancel{
        top: 78%;
        left: 51.5%;
    }
}