@import 'src/styles/theme';

.Loading{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;

    &.position{
        position: relative;
        top: 130px;
        left: 300px;
    }

    &.text{
        position: center;
        top: 40%;


        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 28px;

        color: #000000;
    }
    &.text-Start{
        position: absolute;
        top: 43%;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 28px;

        color: #000000;
    }
    &.cancel{
        position: relative;
        top: 80px;
        left: 368px;
    }
    &.chicken{
        position: relative;
        top: 53.75px;
        left: 368px;
    }
    &.start{
        top: 52%;
        left: 53%;
    }
    &.declined{
        top: 55%;
        left: 60%;
    }
}