@import 'src/styles/_theme.scss';

.register {
    &.title {
        cursor: pointer;
        position: absolute;
        width: 235px;
        height: 45px;
        left: 128px;
        top: 20px;

        font-family: 'Racing Sans One', cursive;
        font-style: normal;
        font-weight: normal;
        font-size: 46px;
        line-height: 58px;
        text-align: center;
        transition: all 0.3s ease;
        color: #ffffff;
    }
    &.title:hover {
        text-decoration: underline;
        transform: translateY(-2px);
    }

    &.login-text {
        position: absolute;
        width: 510px;
        height: 49px;
        left: 501px;
        top: 136px;

        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 54px;
        line-height: 63px;

        color: #ffffff;
    }

    //FirstName
    &.firstName-title {
        position: absolute;
        width: 220px;
        height: 38px;
        left: 575px;
        top: 249px;

        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
        /* identical to box height */

        color: #ffffff;
    }
    &.firstName-field {
        position: absolute;
        width: 363px;
        height: 49px;
        left: 575px;
        top: 292px;

        background: #ffffff;
        border: 1px solid #000000;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
    }
    &.firstName-text {
        position: absolute;
        width: 340px;
        height: 26px;
        left: 585px;
        top: 304px;

        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;

        color: rgba(0, 0, 0, 0.6);

        border: none;
        border-width: 0;
    }

    //LastName
    &.lastName-title {
        position: absolute;
        width: 200px;
        height: 38px;
        left: 575px;
        top: 359px;

        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
        /* identical to box height */

        color: #ffffff;
    }
    &.lastName-field {
        position: absolute;
        width: 363px;
        height: 49px;
        left: 575px;
        top: 402px;

        background: #ffffff;
        border: 1px solid #000000;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
    }
    &.lastName-text {
        position: absolute;
        width: 340px;
        height: 26px;
        left: 585px;
        top: 414px;

        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;

        color: rgba(0, 0, 0, 0.6);

        border: none;
        border-width: 0;
    }

    //Email
    &.email-title {
        position: absolute;
        width: 160px;
        height: 38px;
        left: 575px;
        top: 469px;

        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
        /* identical to box height */

        color: #ffffff;
    }
    &.email-field {
        position: absolute;
        width: 363px;
        height: 49px;
        left: 575px;
        top: 512px;

        background: #ffffff;
        border: 1px solid #000000;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
    }
    &.email-text {
        position: absolute;
        width: 340px;
        height: 26px;
        left: 585px;
        top: 524px;

        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;

        color: rgba(0, 0, 0, 0.6);

        border: none;
        border-width: 0;
    }

    //Username
    &.username-title {
        position: absolute;
        width: 200px;
        height: 38px;
        left: 574px;
        top: 579px;

        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
        /* identical to box height */

        color: #ffffff;
    }
    &.username-field {
        position: absolute;
        width: 363px;
        height: 49px;
        left: 574px;
        top: 622px;

        background: #ffffff;
        border: 1px solid #000000;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
    }
    &.username-text {
        position: absolute;
        width: 340px;
        height: 26px;
        left: 585px;
        top: 634px;

        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;

        color: rgba(0, 0, 0, 0.6);

        border: none;
        border-width: 0;
    }

    //Password
    &.password-title {
        position: absolute;
        width: 160px;
        height: 38px;
        left: 575px;
        top: 689px;

        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
        /* identical to box height */

        color: #ffffff;
    }
    &.password-field {
        position: absolute;
        width: 363px;
        height: 49px;
        left: 575px;
        top: 732px;

        background: #ffffff;
        border: 1px solid #000000;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
    }
    &.password-text {
        position: absolute;
        width: 340px;
        height: 22px;
        left: 585px;
        top: 746px;

        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;

        color: rgba(0, 0, 0, 0.6);

        border: none;
        border-width: 0;
    }

    &.createButton {
        position: absolute;
        width: 146px;
        height: 63px;
        left: 600px;
        top: 832px;

        background: #ffca00;
        border-radius: 20px;

        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        text-align: center;

        color: #000000;
    }

    &.loginButton {
        position: absolute;
        width: 146px;
        height: 63px;
        left: 770px;
        top: 832px;

        background: #ffca00;
        border-radius: 20px;

        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        text-align: center;

        color: #000000;
    }
}
