
.primary-button {
  &:hover {
    transform: translateY(-2px);
  }
  &:disabled {
    cursor: default;
    opacity: 0.6;
    &:hover {
      transform: none;
    }
  }
  padding: 6px;
  font-weight: 700;
  font-size: 13px;
  text-align: center;
  height: 35px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}