.burgerMenu {
    //Burger Menu
    &.burgerButton {
        cursor: pointer;
        position: absolute;
        width: 36px;
        height: 42px;
        left: 1311px;
        top: 30px;
    }

    &.burger1 {
        cursor: pointer;
        position: absolute;
        width: 18px;
        height: 7.2px;
        left: 1329px;
        top: 30px;
        border-radius: 5px;


        background-color: black;
        margin: 6px 0;

    }

    &.burger2 {
        cursor: pointer;
        position: absolute;
        width: 36px;
        height: 7.2px;
        left: 1311px;
        top: 44.4px;
        border-radius: 5px;


        background-color: black;
        margin: 6px 0;

    }

    &.burger3 {
        cursor: pointer;
        position: absolute;
        width: 18px;
        height: 7.2px;
        left: 1311px;
        top: 58.8px;
        border-radius: 5px;

        background-color: black;
        margin: 6px 0;

    }

    &.username {
        background: #FFFFFF;

        position: absolute;
        width: 128px;
        height: 31px;
        left: 1163px;
        top: 26px;

        font-family: 'Racing Sans One';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 40px;

        color: #000000;

    }

    &.home {
        background: #FFFFFF;

        position: absolute;
        width: 128px;
        height: 27px;
        left: 1163px;
        top: 89px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 28px;

        color: #000000;
    }

    &.public-decks {
        background: #FFFFFF;

        position: absolute;
        width: 128px;
        height: 27px;
        left: 1163px;
        top: 141px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 28px;

        color: #000000;
    }

    &.creator {
        background: #FFFFFF;

        position: absolute;
        width: 128px;
        height: 28px;
        left: 1163px;
        top: 191px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 28px;

        color: #000000;
    }

    &.logoutButton {
        position: absolute;
        width: 170px;
        height: 54.29px;
        left: 1165px;
        top: 251px;

        background: #FFCA00;
        border-radius: 20px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        text-align: center;

        color: #000000;

    }



    &.x {
        cursor: pointer;

        position: absolute;
        width: 24px;
        height: 44px;
        left: 1318px;
        top: 13px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 48px;
        line-height: 56px;

        color: #000000;

    }


    &.window {
        position: absolute;
        width: 220px;
        height: 306.5px;
        left: 1140px;
        top: 17px;

        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px 0px 20px 20px;
    }


    &.title {
        position: absolute;
        width: 107px;
        height: 45px;
        left: 128px;
        top: 20px;

        font-family: 'Racing Sans One';
        font-style: normal;
        font-weight: 400;
        font-size: 46px;
        line-height: 58px;
        text-align: center;

        color: #000000;

    }
}