.burgerMenu {
    //Burger Menu
    &.burger-position{
        cursor: pointer;
        position: absolute;
        width: 36px;
        height: 46px;
        right: 10%;
        top: 30px;
    }

    &.burger1 {
        position: absolute;
        width: 18px;
        height: 7.2px;
        right: 0%;
        top: 0px;
        border-radius: 5px;


        background-color: black;
        margin: 6px 0;

    }

    &.burger2 {
        position: absolute;
        width: 36px;
        height: 7.2px;
        right: 0%;
        top: 14.4px;
        border-radius: 5px;


        background-color: black;
        margin: 6px 0;

    }

    &.burger3 {
        position: absolute;
        width: 18px;
        height: 7.2px;
        left: 0%;
        top: 28.8px;
        border-radius: 5px;

        background-color: black;
        margin: 6px 0;

    }

    &.username {
        background: #FFFFFF;

        position: absolute;
        width: 128px;
        height: 31px;
        right: 35%;
        top: 10px;

        font-family: 'Racing Sans One';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 40px;

        color: #000000;

    }

    &.home {
        background: #FFFFFF;

        position: absolute;
        width: 128px;
        height: 27px;
        right: 30%;
        bottom: 200px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 28px;

        color: #000000;
    }

    &.public-decks {
        background: #FFFFFF;

        position: absolute;
        width: 128px;
        height: 27px;
        right: 30%;
        bottom: 150px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 28px;

        color: #000000;
    }

    &.creator {
        background: #FFFFFF;

        position: absolute;
        width: 128px;
        height: 28px;
        right: 30%;
        bottom: 100px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 28px;

        color: #000000;
    }

    &.logoutButton {
        position: absolute;
        width: 170px;
        height: 54.29px;
        right: 11%;
        bottom: 15px;

        background: #FFCA00;
        border-radius: 20px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        text-align: center;

        color: #000000;

    }



    &.x {
        cursor: pointer;

        position: absolute;
        width: 24px;
        height: 44px;
        right: 6%;
        top: 4px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 48px;
        line-height: 56px;

        color: #000000;

    }


    &.window {
        position: absolute;
        width: 220px;
        height: 306.5px;
        right: 9%;
        top: 17px;

        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px 0px 20px 20px;
    }


    &.title {
        cursor: pointer;
        position: absolute;
        width: 107px;
        height: 45px;
        left: 128px;
        top: 10px;

        font-family: 'Racing Sans One';
        font-style: normal;
        font-weight: 400;
        font-size: 46px;
        line-height: 58px;
        text-align: center;

        color: #000000;
        background-color: transparent;

    }
}