
.loadingScreen-button {
    &:hover {
        transform: translateY(-2px);
    }

    padding: 6px;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    height: 40px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'Roboto';

}